<details-utils force-open="(min-width: 40em)">
  <details class="site-nav-details">
    <summary class="summary">Menu</summary>
    <nav class="site-nav">
      <ul>
        <li>
          <a href="https://buttondown.email/edi.bike/archive/">🕰️ Previous Issues</a>
        </li>
        <li>
          <a href="https://docs.google.com/forms/d/e/1FAIpQLSfwDnh8iLY-Usx9PEIHUOAO9d2aMK1hC9yAPx9_OF9ua12lmg/viewform">✏️ Submit an Item</a>
        </li>
        <li>
          <a href="mailto:hello@edi.bike">📧 Get in Touch</a>
        </li>
      </ul>
    </nav>
  </details>
</details-utils>