.layout--article {
  
  .container {

    font-size: 1.2rem;
    font-weight: 250;

    h1 {
      padding-bottom: 2rem;
      border-bottom: 0.1rem solid var(--c-purple);
      margin-bottom: 1.6rem;
    }

    a,
    h2,
    h3 {
      color: var(--c-orange--faint);
    }

    h2 {
      padding-top: 2rem;
      border-top: 0.1rem solid var(--c-purple);
      margin-top: 1.4rem;
    }
    hr+h2 {
      border-top: unset;
      margin-top: unset;
      padding-top: unset;
    }

    a {
      text-underline-offset: 0.2rem;
    }

    h2:nth-of-type(even), 
    h3:nth-of-type(odd), {
      color: pink;
    }

    hr {
      margin-top: 3rem;
      margin-bottom: 3rem;
      border: unset;
      outline: unset;
      border-top: 0.1rem solid var(--c-purple);
    }

    b, strong {
      font-weight: 500;
      color: var(--c-orange--faint);
    }

    p {
      margin-bottom: 1.4em;
      line-height: 1.4;
      max-width: 46em;
    }

    p + h2 {
      margin-top: 2.4rem;
    }

    p img {
      max-width: 90vw;
    }

    ul li,
    ol li {
      margin-bottom: 0.6em;
      max-width: 46em;
    }

    blockquote {
      display: inline-block;
      background-color: rgba(245, 195, 203, 0.1);
      margin: 0;
      padding: 0.5em 1.5em;
      p:last-of-type,
      li:last-of-type {
        margin-bottom: 1em;
      }
    }

    figure {
      margin: 0;
      img:not(.pswp-gallery__item a img) {
        width: 90vw;
        max-width: 78.875rem;
      }
      figcaption {
        font-size: 0.8em;
      }
    }

  }

}