.layout--article {
  
  .container {

    font-size: 1.2rem;
    font-weight: 250;

    h1 {
      padding-bottom: 2rem;
      border-bottom: 0.1rem solid var(--c-purple);
      margin-bottom: 1.6rem;
    }

    a,
    h2,
    h3 {
      color: var(--c-orange--faint);
      > a {
        color: white;
      }
    }

    h2 {
      padding-top: 2rem;
      border-top: 0.1rem solid var(--c-purple);
      margin-top: 1.4rem;
    }
    hr+h2 {
      border-top: unset;
      margin-top: unset;
      padding-top: unset;
    }

    h1+h2 {
      border-top: unset;
      margin-top: unset;
      padding-top: unset;
    }

    a {
      text-underline-offset: 0.2rem;
    }

    h2:nth-of-type(even), 
    h3:nth-of-type(odd), {
      color: pink;
    }

    hr {
      margin-top: 3rem;
      margin-bottom: 3rem;
      border: unset;
      outline: unset;
      border-top: 0.1rem solid var(--c-purple);
    }

    b, strong {
      font-weight: 500;
      color: var(--c-orange--faint);
    }

    p {
      margin-bottom: 1.4em;
      line-height: 1.4;
      max-width: 46em;
    }

    p + h2 {
      margin-top: 2.4rem;
    }

    p s {
      color: rgba(255, 255, 255, 0.782);
      text-decoration-color: rgba(255, 192, 203, 0.812);
      text-decoration-thickness: 0.2rem;
    }

    p img {
      max-width: 90vw;
    }

    p em {
      color: var(--c-orange--faint);
      font-variation-settings: 'wght' 240, 'ital' 1;
      letter-spacing: 0.01rem;
      font-style: italic;
    }

    ul li,
    ol li {
      margin-bottom: 1em;
      max-width: 46em;
      &:last-child {
        margin-bottom: 1.5em;
      }
    }

    blockquote {
      display: inline-block;
      background-color: rgba(245, 195, 203, 0.1);
      margin: 0;
      padding: 0.5em 1.5em;
      p img {
        max-width: 100%;
      }
      p:last-of-type,
      li:last-of-type {
        margin-bottom: 1em;
      }
    }
    blockquote:has(.util--pipespacer) > p {
      max-width: 100%;
    }

    .pswp-gallery figure {
      margin: 0;
      img:not(.pswp-gallery__item a img) {
        width: 90vw;
        max-width: 78.875rem;
      }
      figcaption {
        font-size: 0.8em;
      }
    }

    figure:not(.pswp-gallery__item) {
      width: fit-content;
      max-width: 75rem;
      margin: 0 0 2.4rem;
      display: inline-flex;
      flex-direction: column;
      align-items: stretch;
      img {
        max-width: 100%;
      }
      figcaption {
        font-size: 0.9em;
        padding: 0.6em;
        margin-top: -0.38rem;
        background-color: rgba(245, 195, 203, 0.1);
        color: var(--c-orange--faint);
        &::before {
          content: 'ℹ️';
        }
        &:has(.parking-details) {
          display: inline-flex;
          flex-wrap: wrap;
          width: 100%;
          gap: 0.6rem;
          align-items: center;
        }
        .parking-details {
          display: inline-block;
          padding: 0.4em 0.6em;
          background-color: rgba(245, 195, 203, 0.2);
          color: white;
          &::before {
            content: '🅿️';
            display: inline-block;
            margin-right: 0.4em;
          }
        }
      }
      + p {
        margin-top: 0;
      }
    }

    .author-credit {
      color: pink;
    }

    .byline {
      display: flex;
      gap: 1.2rem;
      align-items: center;
      margin: -1rem 0 1.4rem 0;
      @media only all and (max-width: 36em) {
        flex-wrap: wrap;
      }
      .byline__image {
        clip-path: circle(50%);
        width: 25%;
        height: 25%;
        max-width: 6.75rem;
      }
      .byline__desc {
        color: pink;
        max-width: 40rem;
        margin: 0;
      }
    }

  }

}