.site-nav-details {
  .summary {
    display: inline-flex;
    justify-content: center;
    align-content: center;
    column-gap: 0.4rem;

    margin: 0 0 1rem;
    padding: 0.4rem 1.1rem;
    border: 0.1rem solid var(--c-orange--faint);
    background-color: var(--c-purple--dark);
    border-radius: 0.35rem;

    /* hides disclosure triangle */
    list-style: none;
    &::marker,
    &::-webkit-details-marker {
      display: none;
    }
    // Custom Disclosure
    &::before {
      content: '+';
      display: inline-flex;
      align-items: center;
      font-size: 1.4em;
      height: 0.9em;
      transform: rotate(0deg);
      transition: 300ms ease all;
      color: var(--c-orange);
    }
    @media only all and (min-width: 40em) {
      display: none;
    }
  }
  &[open] .summary::before {
    transform: rotate(45deg);
    transition: 300ms ease all;
  }
}

.site-nav {
  
  ul {
    list-style-type: "";
    display: inline-flex;
    flex-wrap: wrap;
    margin: 0 auto 3rem;
    padding: 0;
    width: 100%;
    column-gap: 0.7rem;
    row-gap: 1.4rem;
    justify-content: center;
    align-items: center;

    li a {
      background-color: #180E37;
      padding: 0.55em 1em 0.65em;
      color: white;
      font-weight: 400;
      font-size: clamp(0.8rem, 3vmin, 1.1rem);
      text-decoration: none;
      border-radius: 0.45em;
      border-bottom: 0.25em solid #583ea8;
      text-transform: lowercase;
      white-space: pre;
    }

    li a:hover,
    li a:focus-visible {
      border-color: white;
    }
  }
}